%danzerpress-shadow-1 {
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
}
%danzerpress-shadow-2 {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.09019607843137255);
}
%danzerpress-shadow-3 {
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
}