//This is what generates the bootstrap grid
@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 calc((#{$i} / 12) * 100%);
        max-width: calc((#{$i} / 12) * 100%);
        width: 100%;
    }
}

//this generates danzerpress grid
@each $key, $value in $cols {
    .dp-#{$key} {
        @include col($value);
    }
}

//This generates all responsive danzerpress components
@for $i from 1 through 6 {
    @each $key, $value in $mapped-breakpoints {
        @warn $key;
        .dp-#{$key}-#{$i} {
            @warn $value;
            @include dynamic-breakpoint($key) {
                @include col-container($i);
            }
        }
    }
}

// %danzerpress-one-fourth {
//     @extend %ie-compatibility;
//     -ms-flex: 0 0 25%;
//     flex: 0 0 25%;
//     max-width: 25%;
//     @extend %danzerpress-md-1;
// }

// %danzerpress-three-fourths {
//     @extend %ie-compatibility;
//     -ms-flex: 0 0 75%;
//     flex: 0 0 75%;
//     max-width: 75%;
//     @extend %danzerpress-md-1;
// }

// %danzerpress-four-fifths {
//     @extend %ie-compatibility;
//     -ms-flex: 0 0 83.333333%;
//     flex: 0 0 83.333333%;
//     max-width: 83.333333%;
//     @extend %danzerpress-md-1;
// }