/*--------------------------------------------------------------
##Position Overrides
--------------------------------------------------------------*/
%danzerpress-row-fix {
    margin: 0 -15px 0;
}
%danzerpress-col-center {
    margin: 0 auto 20px;
    padding: 0px;
}
%danzerpress-center {
    margin: 0 auto;
}
%danzerpress-col-center-zero {
    margin: 0 auto;
    padding: 0px;
}
%danzerpress-zero {
    margin: 0;
}
%danzerpress-fix {
    padding: 0px;
    margin: 0px;
}