/*--------------------------------------------------------------
##Position Overrides
--------------------------------------------------------------*/
.dp-row-fix {
    margin: 0 -15px 0;
}
.dp-col-center {
    margin: 0 auto 20px;
    padding: 0px;
}
.dp-center {
    margin: 0 auto;
}
.dp-col-center-zero {
    margin: 0 auto;
    padding: 0px;
}
.dp-zero {
    margin: 0;
}
.dp-fix {
    padding: 0px;
    margin: 0px;
}