$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$primary-font-color: #333333;

$desk: 1450px;
$twide: 1024px;
$pwide: 767px;
$ptall: 500px;

$light-grey: #efefef;