%danzerpress-lg-1 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

%danzerpress-md-1 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

%danzerpress-sm-1 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

%danzerpress-xs-1 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

%danzerpress-lg-2 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

%danzerpress-md-2 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

%danzerpress-sm-2 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

%danzerpress-xs-2 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

%danzerpress-lg-3 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 33.333333333333%;
        flex: 0 0 33.333333333333%;
        max-width: 33.333333333333%;
    }
}

%danzerpress-md-3 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 33.333333333333%;
        flex: 0 0 33.333333333333%;
        max-width: 33.333333333333%;
    }
}

%danzerpress-sm-3 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 33.333333333333%;
        flex: 0 0 33.333333333333%;
        max-width: 33.333333333333%;
    }
}

%danzerpress-xs-3 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 33.333333333333%;
        flex: 0 0 33.333333333333%;
        max-width: 33.333333333333%;
    }
}

%danzerpress-lg-4 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

%danzerpress-md-4 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

%danzerpress-sm-4 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

%danzerpress-xs-4 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

%danzerpress-lg-5 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

%danzerpress-md-5 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

%danzerpress-sm-5 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

%danzerpress-xs-5 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

%danzerpress-lg-6 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 16.666666666667%;
        flex: 0 0 16.666666666667%;
        max-width: 16.666666666667%;
    }
}

%danzerpress-md-6 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 16.666666666667%;
        flex: 0 0 16.666666666667%;
        max-width: 16.666666666667%;
    }
}

%danzerpress-sm-6 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 16.666666666667%;
        flex: 0 0 16.666666666667%;
        max-width: 16.666666666667%;
    }
}

%danzerpress-xs-6 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 16.666666666667%;
        flex: 0 0 16.666666666667%;
        max-width: 16.666666666667%;
    }
}

%danzerpress-lg-7 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 14.285714285714%;
        flex: 0 0 14.285714285714%;
        max-width: 14.285714285714%;
    }
}

%danzerpress-md-7 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 14.285714285714%;
        flex: 0 0 14.285714285714%;
        max-width: 14.285714285714%;
    }
}

%danzerpress-sm-7 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 14.285714285714%;
        flex: 0 0 14.285714285714%;
        max-width: 14.285714285714%;
    }
}

%danzerpress-xs-7 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 14.285714285714%;
        flex: 0 0 14.285714285714%;
        max-width: 14.285714285714%;
    }
}

%danzerpress-lg-8 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

%danzerpress-md-8 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

%danzerpress-sm-8 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

%danzerpress-xs-8 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

%danzerpress-lg-9 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 11.111111111111%;
        flex: 0 0 11.111111111111%;
        max-width: 11.111111111111%;
    }
}

%danzerpress-md-9 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 11.111111111111%;
        flex: 0 0 11.111111111111%;
        max-width: 11.111111111111%;
    }
}

%danzerpress-sm-9 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 11.111111111111%;
        flex: 0 0 11.111111111111%;
        max-width: 11.111111111111%;
    }
}

%danzerpress-xs-9 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 11.111111111111%;
        flex: 0 0 11.111111111111%;
        max-width: 11.111111111111%;
    }
}

%danzerpress-lg-10 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}

%danzerpress-md-10 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}

%danzerpress-sm-10 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}

%danzerpress-xs-10 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}

%danzerpress-lg-11 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 9.0909090909091%;
        flex: 0 0 9.0909090909091%;
        max-width: 9.0909090909091%;
    }
}

%danzerpress-md-11 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 9.0909090909091%;
        flex: 0 0 9.0909090909091%;
        max-width: 9.0909090909091%;
    }
}

%danzerpress-sm-11 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 9.0909090909091%;
        flex: 0 0 9.0909090909091%;
        max-width: 9.0909090909091%;
    }
}

%danzerpress-xs-11 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 9.0909090909091%;
        flex: 0 0 9.0909090909091%;
        max-width: 9.0909090909091%;
    }
}

%danzerpress-lg-12 {
    @extend %ie-compatibility;
    @include danzerpress-mq-desk {
        -ms-flex: 0 0 8.3333333333333%;
        flex: 0 0 8.3333333333333%;
        max-width: 8.3333333333333%;
    }
}

%danzerpress-md-12 {
    @extend %ie-compatibility;
    @include danzerpress-mq-twide {
        -ms-flex: 0 0 8.3333333333333%;
        flex: 0 0 8.3333333333333%;
        max-width: 8.3333333333333%;
    }
}

%danzerpress-sm-12 {
    @extend %ie-compatibility;
    @include danzerpress-mq-pwide {
        -ms-flex: 0 0 8.3333333333333%;
        flex: 0 0 8.3333333333333%;
        max-width: 8.3333333333333%;
    }
}

%danzerpress-xs-12 {
    @extend %ie-compatibility;
    @include danzerpress-mq-ptall {
        -ms-flex: 0 0 8.3333333333333%;
        flex: 0 0 8.3333333333333%;
        max-width: 8.3333333333333%;
    }
}